<section class="about-us-area style-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title left-aligned">
          <!-- section title -->
          <span class="subtitle">Pourquoi nous choisir ?</span>
          <h3 class="text-choose-us">
            En choisissant Freightsure, vous bénéficiez des avantages suivants :
          </h3>
        </div>
        <!-- //. section title -->
      </div>
      <div class="col-lg-6">
        <div class="feature-area">
          <ul class="feature-list">
            <li class="single-feature-list wow zoomIn">
              <div class="icon icon-bg-1">
                <img src="assets/img/freightsure-avantage/key.png" style="width: 40px;height: 40px;" alt="">
              </div>
              <div class="content">
                <h4 class="title"><a>Solution clé-en-main </a></h4>
                <ul>
                  <li style="font-weight: 500">
                    En choisissant Freightsure, vous faites le choix d'une solution complète, prête à l'emploi, qui englobe tous les aspects nécessaires à votre réussite.
                  </li>
                  <br />
                </ul>
              </div>
            </li>

            <li class="single-feature-list wow zoomIn">
              <div class="icon icon-bg-2">
                <img src="assets/img/freightsure-avantage/cloud.png" style="width: 50px;height: 36.67px;" alt="">

              </div>
              <div class="content">
                <h4 class="title"><a>Solution SaaS </a></h4>
                <p style="font-weight: 500">
                  Accédez à notre plateforme via le cloud, sans tracas d'installations complexes. Vous gagnez en flexibilité et en mobilité.
                </p>
              </div>
            </li>


            <li class="single-feature-list wow zoomIn">
              <div class="icon icon-bg-1">
                <img src="assets/img/freightsure-avantage/Desktop.png" style="width: 40px;height: 40px;" alt="">

              </div>
              <div class="content">
                <h4 class="title"><a>Facile à utiliser </a></h4>
                <ul>
                  <li style="font-weight: 500">
                    Notre plateforme a été conçue avec simplicité et convivialité à l'esprit. Votre équipe pourra l'adopter aisément.                  </li>
                </ul>
              </div>
            </li>
            <li class="single-feature-list wow zoomIn">
              <div class="icon icon-bg-1">
                <img src="assets/img/freightsure-avantage/security.png" style="width: 40px;height: 40px;" alt="">

              </div>
              <div class="content">
                <h4 class="title"><a>Sécurisé</a></h4>
                <ul>
                  <li style="font-weight: 500">
                    Vos données et échanges sont traités avec une vigilance extrême. Nous avons mis en place des mesures de sécurité avancées pour vous offrir une tranquillité d'esprit absolue.
                  </li>
                </ul>
              </div>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
