
<footer class="footer-area">
  <div class="footer-top">
    <div class="container" id="contact">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-widget about_widget">
            <a href="index.html" class="footer-logo"
              ><span
                ><img
                  _ngcontent-yue-c40=""
                  src="../assets/img/SVG/logo-frightsure-pour-site-vitrine -23.svg"
                  alt="logo"
                  style="width: 310xp; height: 180px; max-width: 100%;" /></span
            ></a>
            <div class="description">
              <p class="text-justify">
                « FREIGHTSURE » est une plateforme digitale qui révolutionne l'industrie du transport et de l’assurance en centralisant et en digitalisant la gestion des risques liés au transport de manière plus efficace et en temps réel.
                Notre mission ? Simplifier et optimiser les processus de la Supply Chain (transporteur, assureur, transitaire etc.) grâce à cette solution complète et intégrée. <br /><br />
                Suivez-nous :
              </p>
              <ul class="social-icon">
                <li>
                  <a target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a ><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a ><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="footer-widget nav_menus_widget" style="margin-top: 75px">
            <h4 class="widget-title">FAQs</h4>
            <ul>
              <li>
                <a
                  ><i class="fas fa-chevron-right"></i> Questions & Réponses</a
                >
              </li>
              <li>
                <a
                  ><i class="fas fa-chevron-right"></i> Termes et conditions
                  d'utilisation</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="footer-widget nav_menus_widget" style="margin-top: 75px">
            <h4 class="widget-title">Nos coordonnées</h4>

            <ul>
              <li>
                <a
                  ><i class="fas fa-phone fa-flip-horizontal"></i> +216 56144845</a
                >
              </li>
              <li>
                <a
                  ><i class="fas fa-envelope fa-flip-horizontal"></i>
                  contact@abridia.com</a
                >
              </li>
              <li>
                <a
                  ><i class="fas fa-map-marker"></i> Immeuble Akkouri Rue 2 Mars <br /> 2200 Tozeur étage 2 Bureau N°7 </a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <!-- copyright area -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-inner">
            <!-- copyright inner wrapper -->
            <div class="left-content-area">
              <!-- left content area -->
              &copy; Copyrights 2023 Abridia All rights reserved.
            </div>
            <!-- //. left content aera -->
            <div class="right-content-area">
              <!-- right content area -->
              Designed by <strong>ABRIDIA.</strong>
            </div>

            <!-- //. right content area -->
          </div>
          <!-- //.copyright inner wrapper -->
        </div>
      </div>
    </div>
  </div>
  <!-- //. copyright area -->
</footer>
