<nav
  class="navbar navbar-area navbar-expand-lg nav-absolute white nav-style-01"
>
  <div class="container nav-container">
    <div class="responsive-mobile-menu">
      <div class="logo-wrapper">
        <a href="index.html" class="logo">
          <img
            src="../assets/img/SVG/logo-frightsure-pour-site-vitrine -23.svg"
            alt="logo"
            style="width: 310px; height: 180px"
          />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#appside_main_menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="appside_main_menu">
      <ul class="navbar-nav">
        <li class="current-menu-item">
          <a href="#">{{ "t0" | translate }}</a>
        </li>
        <li>
          <a href="#about">{{ "t1" | translate }}</a>
        </li>
        <li>
          <a href="#services">{{ "t2" | translate }}</a>
        </li>

        <li>
          <a href="#pricing">{{ "t3" | translate }}</a>
        </li>
         <li><a href="#partners">Nos Partenaires</a></li>
        <li>
          <a href="#contact">{{ "t4" | translate }}</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
