<header class="header-area header-bg-11 style-11" id="home">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="header-inner">
          <h1
            class="title wow fadeInDown"
            style="visibility: visible; animation-name: fadeInDown"
          >
          Digitalisez votre assurance transport de marchandise avec Freightsure.
          </h1>
          <p>
            La solution digitale qui simplifie tout à votre avantage.
          </p>
          <div
            class="btn-wrapper wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp"
          >
            <a href="#pricing" class="boxed-btn-02 reverse-color">
              Demandez une démo gratuite
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex ">
        <img src="assets/img/animation-pic.gif" style="width: auto; max-width: auto" alt="">
      </div>
    </div>
  </div>
</header>
