<section class="about-us-area">
  <div class="container">
    <div class="row justify-content-center" id="about">
      <div class="col-lg-10">
        <div class="section-title">
          <!-- section title -->
          <h3 class="title extra purple-text">À PROPOS</h3>
        </div>
        <!-- //. section title -->
      </div>
    </div>
    <div class="description-about">
    FREIGHTSURE est une plateforme digitale qui révolutionne l'industrie du transport et de l’assurance en centralisant et en digitalisant la gestion des risques liés au transport de manière plus efficace et en temps réel. <br>
      Notre mission  Simplifier et optimiser les processus de la Supply Chain (transporteur, assureur, transitaire etc.) grâce à cette solution complète et intégrée.

    </div>



    <!-- <div class="row">
      <div class="col-lg-12">
        <div class="feature-area">
          <ul class="feature-list wow fadeInUp">
            <li class="single-feature-list">
              <div class="feature-wrap">
                <div class="icon icon-bg-1">
                  <i class="fas fa-cash-register"></i>
                </div>
                <div class="content">
                  <h4 class="title"><a>Commercial</a></h4>
                </div>
              </div>
            </li>
            <li class="single-feature-list">
              <div class="feature-wrap">
                <div class="icon icon-bg-2">
                  <i class="flaticon-responsive"></i>
                </div>
                <div class="content">
                  <h4 class="title"><a>Services</a></h4>
                </div>
              </div>
            </li>
            <li class="single-feature-list">
              <div class="feature-wrap">
                <div class="icon icon-bg-3">
                  <i class="fas fa-box"></i>
                </div>
                <div class="content">
                  <h4 class="title"><a>Fabrication</a></h4>
                </div>
              </div>
            </li>
            <li class="single-feature-list">
              <div class="feature-wrap">
                <div class="icon icon-bg-4">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="content">
                  <h4 class="title"><a>Abonnement</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</section>
