<section class="why-choose-area why-choose-us-bg" id="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title white">
          <!-- section title -->
          <h3 class="title extra purple-text">
            Fonctionnalités clés
          </h3>
        </div>
        <!-- //. section title -->
      </div>
    </div>

    <div class="how-it-work-tab-nav">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item w-40">
          <a
            class="nav-link nav-link-service active"
            id="assurance-tab"
            data-toggle="tab"
            href="#assurance"
            role="tab"
            aria-controls="assurance"
            aria-selected="true"
            style="border-radius: 8px; padding-top: 6px"
          >
           Assurance
          </a>
        </li>
        <li class="nav-item w-40 ml-3">
          <a
            class="nav-link nav-link-service"
            id="transporteur-tab"
            data-toggle="tab"
            href="#transporteur"
            role="tab"
            aria-controls="transporteur"
            aria-selected="false"
            style="border-radius: 8px; padding-top: 6px"
          >
          Transport
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content ">
      <div
        class="tab-pane fade show active row"
        id="assurance"
        role="tabpanel"
        aria-labelledby="assurance-tab"
        style="justify-content: center; margin-top: -35px"
      >

      <div class="content-features"> <span>FREIGHTSURE</span>   tout-en-un vous propose différentes fonctionnalités, couvrant le volet assurantiel :</div>
      <div class="col-lg-4 col-md-12">
        <div class="single-why-us-item  margin-top-60  ">
          <!-- single why us item -->
          <div class="content">
            <h4 class="title black-text">Data Hub </h4>
            <div class="new-feature black-text">
              <ul>
                <li>• Collecte et analyse des données et comportement clients </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- //. single why us item -->
        <div class="single-why-us-item  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Gestion des contrats et certificats d'assurance transport</h4>
          </div>
        </div>
        <!-- //. single why us item -->
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-why-us-item margin-top-60  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Tarification dynamique </h4>
            <div class="new-feature black-text">
              <ul>
                <li>
                  • tarification optimisée des primes.
                </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- //. single why us item -->
        <div class="single-why-us-item  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Gestion des sinistres et avaries marchandises</h4>
          </div>
        </div>
        <!-- //. single why us item -->
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-why-us-item margin-top-60  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Reporting & Dashboards </h4>
            <div class="new-feature black-text">
              <ul>
                <li>• Suivre des informations en temps réel</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- //. single why us item -->
        <div class="single-why-us-item  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Gestion des réclamations clients</h4>
            <div class="new-feature black-text">
              <ul>
                <li>
                  • Transporteurs routiers.
                </li>
                <li>• Maritimes.</li>
                <li>• Aériens.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- //. single why us item -->
      </div>

      </div>
      <div
        class="tab-pane fade row"
        id="transporteur"
        role="tabpanel"
        aria-labelledby="transporteur-tab"
      >
      <div class="content-features"> <span>FREIGHTSURE</span> tout-en-un vous propose différentes fonctionnalités, couvrant le volet transport </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-why-us-item  margin-top-60  ">
          <!-- single why us item -->
          <div class="content">
            <h4 class="title black-text">Géolocalisation et tracking des unités de transport/ marchandises </h4>
          </div>
        </div>
        <!-- //. single why us item -->
        <div class="single-why-us-item  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Gestion des activités et temps de travail de l’équipage / chaffeurs.</h4>
          </div>
        </div>
        <!-- //. single why us item -->
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-why-us-item margin-top-60  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Gestion de la sécurité/ qualités des unités, etc. </h4>
          </div>
        </div>
        <!-- //. single why us item -->
        <div class="single-why-us-item  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Gestion des stocks et commandes</h4>
          </div>
        </div>
        <!-- //. single why us item -->
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-why-us-item margin-top-60  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Planification et optimisation des trajets/ itinéraires. </h4>
          </div>
        </div>
        <!-- //. single why us item -->
        <div class="single-why-us-item  ">
          <!-- single why us item -->

          <div class="content">
            <h4 class="title black-text">Déclaration des sinistres et gestion des avaries marchandises</h4>
          </div>
        </div>
        <!-- //. single why us item -->
      </div>
      </div>

    </div>

  </div>
</section>
