<div class="container my-5">
  <div class="faq-heading">
    <div class="mb-5">
      <span class="text-secondary text-uppercase">Questions</span>
      <h1 class="text-capitalize font-weight-bold page-title">
        Foire aux questions
      </h1>
    </div>
    <div>
      <button class="back-btn"><a href="#">Retour</a></button>
    </div>
  </div>

  <div class="row">
    <!-- 
      div:hover {
        background-color: #9B5DE5;
      }
     -->

    <div class="col-md-6">
      <div class="my-3 p-4 bg-light">
        <div class="d-flex align-items-start">
          <div class="mr-3 bg-dark text-white rounded-circle">
            <svg
              fill="currentColor"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g data-name="Layer 2">
                <g data-name="menu-arrow">
                  <rect
                    width="24"
                    height="24"
                    transform="rotate(180 12 12)"
                    opacity="0"
                  />
                  <path
                    d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"
                  />
                  <circle cx="12" cy="19" r="1" />
                </g>
              </g>
            </svg>
          </div>
          <div class="">
            <a href="#" class="text-dark stretched-link"
              ><h6 class="mb-3" style="font-weight: 600; font-size: 1.1rem">
                Comment fonctionne l'essai gratuit?
              </h6></a
            >
            <p class="text-secondary" style="line-height: 2">
              Vous êtes PME ou COMPTALE, voulez-vous bénéficier de notre
              système?<br />
              Il faut remplir le formulaire pour bénéficier d’une période
              d'essai gratuit de notre logiciel. <br />

              <b><u>NB: tous les champs sont obligatoires.</u></b>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="my-3 p-4 bg-light">
        <div class="d-flex align-items-start">
          <div class="mr-3 bg-dark text-white rounded-circle">
            <svg
              fill="currentColor"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g data-name="Layer 2">
                <g data-name="menu-arrow">
                  <rect
                    width="24"
                    height="24"
                    transform="rotate(180 12 12)"
                    opacity="0"
                  />
                  <path
                    d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"
                  />
                  <circle cx="12" cy="19" r="1" />
                </g>
              </g>
            </svg>
          </div>
          <div class="">
            <a href="#" class="text-dark stretched-link"
              ><h6 class="mb-3" style="font-weight: 600; font-size: 1.1rem">
                Puis-je avoir une réduction?
              </h6></a
            >
            <div class="text-secondary" style="line-height: 2">
              <ul>
                <li>
                  Voulez-vous laisser votre demande ou
                  message(contactez-nous),vous pouvez contacter notre service
                  client pour plus d’informations.
                </li>
                <li>Nos coordonnées :</li>
                <li>- Tél : +216 73 82 00 24</li>
                <li>- Email : Contact@comptat.com</li>
                <li>
                  - Adresse : Avenue Yasser Arafet Imm.Assafa Sahloul 4054
                  Sousse, TUNISIE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="my-3 p-4 bg-light">
        <div class="d-flex align-items-start">
          <div class="mr-3 bg-dark text-white rounded-circle">
            <svg
              fill="currentColor"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g data-name="Layer 2">
                <g data-name="menu-arrow">
                  <rect
                    width="24"
                    height="24"
                    transform="rotate(180 12 12)"
                    opacity="0"
                  />
                  <path
                    d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"
                  />
                  <circle cx="12" cy="19" r="1" />
                </g>
              </g>
            </svg>
          </div>
          <div class="">
            <a href="#" class="text-dark stretched-link"
              ><h6 class="mb-3" style="font-weight: 600; font-size: 1.1rem">
                Puis-je annuler à tout moment?
              </h6></a
            >
            <p class="text-secondary" style="line-height: 2">
              Vous pouvez consulter nos termes et conditions d’utilisation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="my-3 p-4 bg-light">
        <div class="d-flex align-items-start">
          <div class="mr-3 bg-dark text-white rounded-circle">
            <svg
              fill="currentColor"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g data-name="Layer 2">
                <g data-name="menu-arrow">
                  <rect
                    width="24"
                    height="24"
                    transform="rotate(180 12 12)"
                    opacity="0"
                  />
                  <path
                    d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"
                  />
                  <circle cx="12" cy="19" r="1" />
                </g>
              </g>
            </svg>
          </div>
          <div class="">
            <a href="#" class="text-dark stretched-link"
              ><h6 class="mb-3" style="font-weight: 600; font-size: 1.1rem">
                Que se passe-t-il après la fin de mon essai?
              </h6></a
            >
            <div class="text-secondary" style="line-height: 2">
              <ul>
                <li>
                  - Nous vous contactons avant la fin de votre version d’essai.
                </li>
                <li>
                  - Vous pouvez choisissez votre pack ou réserver une
                  consultation.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
